.react-datepicker {
	font-family: 'Gilroy-Regular';
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	border-radius: 8px;
}

.react-datepicker-wrapper {
	width: 100%;
}

.react-datepicker-popper {
	z-index: 11 !important;
}

.react-datepicker__month-container {
	width: 100%;
	background-color: white;
}

.react-datepicker__header {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.react-datepicker__current-month {
	font-size: 12px;
	font-weight: 400;
}

.react-datepicker__day-names {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.react-datepicker__month {
	margin: 10px 15px 15px 15px;
}

.react-datepicker__week {
	display: flex;
	justify-content: space-between;
}

.react-datepicker__day.react-datepicker__day--outside-month {
	color: #acb9c7;
}

.react-datepicker__day {
	font-family: 'Gilroy-Regular';
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	flex: 1;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
	height: 15px;
	width: 15px;
	border: none;
	top: 17px;
}

.react-datepicker__navigation--previous {
	left: 25px;
	background-image: url('/icons/Left.svg') !important;
}

.react-datepicker__navigation--next {
	right: 25px;
	background-image: url('/icons/Right.svg') !important;
}

.react-datepicker__navigation-icon.react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous::before {
	display: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
	background-color: black;
	color: white;
	transition: all 0.5s;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
	background-color: #e7e9ee;
}

.calendar-input-clear {
	width: 16px;
	height: 16px;
	background-image: url('/icons/Close.svg');
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 50;
}
